{extend name="common@Public:admin" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title site-title"><legend><a name="pane">添加内容</a></legend></fieldset>
<div class="site-text">
	<form class="layui-form layui-form-pane" action="" method='POST'>
		<div class="layui-form-item">
			<label class="layui-form-label">内容标题</label>
			<div class="layui-input-block">
				<input type="text" name="name" required="" lay-verify="required" placeholder="请输入内容标题" autocomplete="off" class="layui-input layui-form-danger">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">选择框</label>
			<div class="layui-input-block">
				<select name="type" lay-verify="required">
					<option value="">默认分类</option>
					{volist name="listtype" id='votype'}
						{empty name="votype.son"}
						<option value="{$votype.id}">{$votype.name}</option>
						{/empty}
					{/volist}
				</select>
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">内容</label>
			<div class="layui-input-block">
				<textarea name="content" id='content' style="display: none;" placeholder="请输入内容"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
		  <button class="layui-btn" lay-submit="" lay-filter="formadd" href-url="{:url('type/add')}">立即提交</button>
		</div>
	</form>
</div>
{/block}
{block name="js"}
<script type="text/javascript">

</script>
{/block}