{extend name="common@Public:admin" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title site-title"><legend><a name="pane">编辑内容 | {$vo.title}</a></legend></fieldset>
<div class="site-text">
	<form class="layui-form layui-form-pane" action="" method='POST' enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$vo.id}">
		<div class="layui-form-item">
			<label class="layui-form-label">内容标题</label>
			<div class="layui-input-block">
				<input type="text" name="title" required="" lay-verify="required" placeholder="请输入内容标题" autocomplete="off" class="layui-input layui-form-danger" value="{$vo.title}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">分类</label>
			<div class="layui-input-block">
				<select name="type" lay-verify="required">
					<option value="0">文章分类</option>
					{volist name="listtype" id='votype'}
						<option value="{$votype.id}" disabled>{$votype.name}</option>
						{volist name="votype.son" id="son"}
						<option value="{$son.id}" {if condition="$vo.type eq $son.id"} selected {/if}>&nbsp;&nbsp;&nbsp;&nbsp;{$son.name}</option>
						{/volist}
					{/volist}
				</select>
			</div>
		</div>
	  <div class="layui-form-item">
			<label class="layui-form-label">缩略图</label>
			<div class="layui-input-block">
				<img src="" width="150px" height="150px" class="image" style="display:none">
				<input type="file" name="image" class="layui-upload-file">
				<input type="hidden" name="photo" class="uploadimages">
			</div>
		</div>
	  <div class="layui-form-item">
		<label class="layui-form-label">发布状态</label>
		<div class="layui-input-block">
		  <input type="radio" name="status" value="1" title="发布" {if condition="$vo.status eq 1"} checked {/if}><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><span>发布</span></div>
		  <input type="radio" name="status" value="0" title="不发布" {if condition="$vo.status eq 0"} checked {/if}><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><span>不发布</span></div>
		</div>
	  </div>
	  <div class="layui-form-item layui-form-text">
		<label class="layui-form-label">正文</label>
		<div class="layui-input-block">
		  <textarea id="content" name="content" style="display: none;">{$vo.content}</textarea> 
		</div>
	  </div>
		<div class="layui-form-item">
		  <button class="layui-btn" lay-submit="" lay-filter="formupdate" href-url="{:url('content/update')}">立即提交</button>
		</div>
	</form>
</div>

{/block}
{block name="js"}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
layui.upload({
   url: "{:url('content/content_img')}"
  ,title: '上传一张图片'
  ,ext: 'jpg|jpeg|png'
  ,type: 'file'
  ,success: function(res){
    //console.log(res); //上传成功返回值，必须为json格式
    if(res.code == 1){
		$(".image").show().attr('src','/web3/currency_admin/uploads/'+res.path)
		$(".uploadimages").attr('value',res.path)
    	layer.msg(res.info);
    }else if(res.code == 0){
    	layer.msg(res.error);
    }
  }
}); 
</script>
{/block}