{extend name="common@Public:admin" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title site-title"><legend><a name="pane">添加权限规则</a></legend></fieldset>
<div class="site-text">
	<form class="layui-form layui-form-pane" action="" method='POST'>
		<div class="layui-form-item">
			<label class="layui-form-label">唯一标识</label>
			<div class="layui-input-block">
				<input type="text" name="name" required="" lay-verify="required" placeholder="请输入权限规则唯一标识" autocomplete="off" class="layui-input layui-form-danger">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">名称</label>
			<div class="layui-input-block">
				<input type="text" name="title" required="" lay-verify="required" placeholder="请输入权限规则名称" autocomplete="off" class="layui-input layui-form-danger">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">分类（模块名）</label>
			<div class="layui-input-block">
				<input type="text" name="type" required="" lay-verify="required" placeholder="请输入分类（模块名）" autocomplete="off" class="layui-input layui-form-danger">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">表达式</label>
			<div class="layui-input-block">
				<input type="text" name="condition" required="" lay-verify="" placeholder="请输入权限规则表达式，为空表示存在就验证，不为空表示按照条件验证" autocomplete="off" class="layui-input layui-form-danger">
			</div>
		</div>
		<input type="hidden" name="pid" value="{$_GET['id'] ? $_GET['id'] : 0 ;}">
		<div class="layui-form-item">
	        <label class="layui-form-label">状态开关</label>
	        <div class="layui-input-block">
	            <input type="checkbox" name="status" checked lay-skin="switch" lay-text="激活|隐藏">
	        </div>
	    </div>
		<div class="layui-form-item">
		  <button class="layui-btn" lay-submit="" lay-filter="formadd" href-url="{:url('rule/add')}">立即提交</button>
		</div>
	</form>
</div>
{/block}