{extend name="common@Public:admin" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title site-title"><legend><a name="pane">添加权限规则</a></legend></fieldset>
<div class="site-text">
	<form class="layui-form layui-form-pane" action="" method='POST'>
		<div class="layui-form-item">
			<label class="layui-form-label">名称</label>
			<div class="layui-input-block">
				<input type="text" name="title" required="" lay-verify="required" placeholder="请输入权限规则名称" autocomplete="off" class="layui-input layui-form-danger">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">名称</label>
			<div class="layui-input-block">
				<volist name="data" id="vo">
					<!-- <input type="radio" name="rules[]" value=""> -->
				</volist>
				<!-- <input type="text" name="title" required="" lay-verify="required" placeholder="请输入权限规则名称" autocomplete="off" class="layui-input layui-form-danger"> -->
			</div>
		</div>
		<div class="layui-form-item">
		  <button class="layui-btn" lay-submit="" lay-filter="formadd" href-url="{:url('group/add')}">立即提交</button>
		</div>
	</form>
</div>
{/block}