{extend name="common@Public:admin" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title site-title">
    <legend><a name="nob">分类</a></legend>
</fieldset>
<button class="layui-btn add" href-url="{:url('admin/group/add')}">
  <i class="layui-icon">&#xe608;</i> 添加用户组
</button>
<hr>

<div class="layui-form">
  <table class="layui-table">
    <colgroup>
      <col width="50">
      <col width="150">
      <col width="150">
      <col width="200">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
        <th colspan="10" text-align="center">权限管理</th>
      </tr> 
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" checked name="" lay-skin="primary"></td>
        <td width="200px;"><input type="checkbox" checked name="" lay-skin="primary">贤心</td>
        <td><input type="checkbox" checked name="" lay-skin="primary">汉族</td>
        <td><input type="checkbox" checked name="" lay-skin="primary">1989-10-14</td>
        <td><input type="checkbox" checked name="" lay-skin="primary">人生似修行</td>
        <td><input type="checkbox" checked name="" lay-skin="primary">人生似修行</td>
        <td><input type="checkbox" checked name="" lay-skin="primary">人生似修行</td>
      </tr>
    </tbody>
  </table>
</div>
{/block}
{block name="js"}

{/block}