{extend name="common@Public:admin" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title site-title">
    <legend><a name="nob">分类</a></legend>
</fieldset>
<button class="layui-btn add" href-url="{:url('admin/group/add')}">
  <i class="layui-icon">&#xe608;</i> 添加用户组
</button>
<hr>

<table class="layui-table" lay-even="" lay-skin="">
	<colgroup>
		<col width="150">
		<col width="200">
		<col>
	</colgroup>
	<thead>
	<tr >
		<th>ID</th>
		<th>用户组</th>
		<th>状态</th>
		<th>操作</th>
	</tr> 
	</thead>
	<tbody>
	{volist name='list' id='vo'}
	<tr>
		<td>{$vo.id}</td>
		<td>{$vo.title}</td>
		<td>{$vo.status?'激活':'禁用'}</td>
		<td>			
			<div class="layui-btn-group ">
				<button class="layui-btn layui-btn-mini update" href-url="{:url('admin/group/update?id='.$vo['id'])}">编辑</button>
				<button class="layui-btn layui-btn-mini update auth" href-url="javascript:;" onClick="auth('{:url('group/auth?id='.$vo['id'])}')">分配权限</button> -->
			  <!--  <button class="layui-btn layui-btn-mini update auth" href-url="{:url('admin/group/auth?id='.$vo['id'])}" >分配权限</button> --> 
				{if($debug == true)}<button class="layui-btn layui-btn-mini del" href-url="{:url('admin/group/delete?id='.$vo['id'])}">删除</button>{/if}
			</div>
		</td>
	</tr>
	{/volist}
	</tbody>
</table>
{/block}
{block name="js"}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
	function auth(url){
		layer.open({
			 type: 2,
			  title:'权限分配',
			  area: ['60%', '60%']
			  ,content: url
			}); 
	}
	


</script>
{/block}