{extend name="common@Public:admin" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title site-title">
    <legend><a name="nob">分类</a></legend>
</fieldset>
<button class="layui-btn add" href-url="{:url('admin/type/add')}">
  <i class="layui-icon">&#xe608;</i> 添加顶级分类
</button>
<hr>
分类树
<hr>
<ul id="menutree"></ul>
<hr>
<table class="layui-table" lay-even="" lay-skin="nob">
	<colgroup>
		<col width="150">
		<col width="200">
		<col>
	</colgroup>
	<thead>
	<tr >
		<th>ID</th>
		<th>分类名</th>
		<td title="[x代表没有]">附表后缀</td>
		<th>状态</th>
		<th>操作</th>
	</tr> 
	</thead>
	<tbody>
	{volist name='list' id='vo'}
	<tr title="{$vo.describe}">
		<td>{$vo.id}</td>
		<td>{$vo._name}</td>
		<td title="[x代表没有]">{$vo.info}</td>
		<td>{$vo.status?'激活':'隐藏'}</td>
		<td>			
			<div class="layui-btn-group ">
				<button class="layui-btn layui-btn-mini add" href-url="{:url('admin/type/add?pid='.$vo['id'])}">增加子分类</button>		
				<button class="layui-btn layui-btn-mini update" href-url="{:url('admin/type/update?id='.$vo['id'])}">编辑</button>
				{if($debug == true)}<button class="layui-btn layui-btn-mini del" href-url="{:url('admin/type/delete?id='.$vo['id'])}">删除</button>{/if}
			</div>
		</td>
	</tr>
	{/volist}
	</tbody>
</table>
{/block}
{block name="js"}
<script type="text/javascript">
;!function(){
	layui.tree({
		elem: '#menutree', //传入元素选择器-
		nodes: {$menutree},
		click: function(node){
			//console.log(node), //node即为当前点击的节点数据
			layer.open({
				title: '信息',
				content: 'ID:'+node.id+'<br/>名字:'+node.name+'<br/>附表后缀:'+node.info+'<br/>状态:'+node.status,
			});     
		}
	});
}();

</script>
{/block}