<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>登录</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        <!-- 这个是手机登录的关键 -->
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/reset.css">
        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/supersized.css">
        <link rel="stylesheet" href="__PUBLIC__/static/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
            <h1>登录</h1>
            <form action="logining" method="post">
                <input type="text" name="name" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密码">
                <input placeholder="请输入验证码" name="captcha" class="captcha"></input>
                <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'" width="270px" height="50px" />
                
                <button type="submit">提交</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>
		
        <!-- Javascript -->
        <script src="__PUBLIC__/static/assets/js/jquery-1.8.2.min.js"></script>
        <script src="__PUBLIC__/static/assets/js/supersized.3.2.7.min.js"></script>
        <!-- <script src="{$Think.config.web_res_root}assets/js/supersized-init.js"></script> -->
        <script src="__PUBLIC__/static/assets/js/scripts.js"></script>

    </body>

</html>


